@{
    ViewData["Title"] = "Bootstrap Test";
}

<div class="container mt-4">
    <h2>Bootstrap Background Classes Test</h2>
    <p>Testing that Bootstrap bg-* classes are working correctly:</p>
    
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="p-3 bg-primary text-white">
                bg-primary: This should have a blue background
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="p-3 bg-secondary text-white">
                bg-secondary: This should have a gray background
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="p-3 bg-success text-white">
                bg-success: This should have a green background
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="p-3 bg-danger text-white">
                bg-danger: This should have a red background
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="p-3 bg-warning text-dark">
                bg-warning: This should have a yellow background
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="p-3 bg-info text-white">
                bg-info: This should have a cyan background
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="p-3 bg-light text-dark">
                bg-light: This should have a light gray background
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="p-3 bg-dark text-white">
                bg-dark: This should have a dark background
            </div>
        </div>
    </div>
</div>
